<%= stylesheet_link_tag "information" %>
<div class="row " id="content">
	<section class= 'sideNav two columns' >
		<nav id="sidebar-nav-holder" class="vertical-nav" gumby-fixed="60" gumby-top="60" >
			<ul id="sidebar-nav">
				<div class="row">
					<a>
						<h2 class="text-center sideText">Linda Martinez</h2>
					</a>
				</div>
				<div class="row">
					<a>	
						<p class="text-center sideText">Web Developer</p>
					</a>
				</div>
				<div class="row">
					<div class="text-center twelve columns">
							<a href="https://www.facebook.com/linda.martinez.9440"><img  class="connect"src="http://i.imgur.com/mVEdSuq.png" alt="facebook" ></a> &emsp;
						  <a href="https://www.linkedin.com/pub/linda-martinez/93/bb1/98/"><img class="connect" src="http://i.imgur.com/NMgURnG.png" alt="linkedin"></a> &emsp;
						  <a href="https://www.twitter.com/Diux89"><img class="connect" src="http://i.imgur.com/mG2ozuS.png" alt="twitter"></a>
					 </div>
				</div>
			</ul>
		</nav>
	</section>
	<div class="projects pull-one nine columns">
		<div class="row">
			<div class="four columns">
				<a href="http://lm-grubber.herokuapp.com/"><img src="http://i.imgur.com/518wbrX.png" title="source: imgur.com" /></a>
			</div>
			<div class="four columns">
				<a href="http://sketchphrase.herokuapp.com/"><img src="http://i.imgur.com/8SIIm8P.png" title="source: imgur.com" /></a>
			</div>
			<div class="four columns">
				<a href="http://adventure-share.herokuapp.com/"><img src="http://i.imgur.com/wUIe1Eh.png" title="source: imgur.com" /></a>
			</div>
		</div>	
		<div class="row description">
			<div class="four columns">
				<h3>Grubber</h3>
				<p>A food web application that searches for recipes based on your input and locates stores in you area. Built with Javascript, Node.js, Express, Google Maps API.
				</p>
			</div>
			<div class="four columns">
				<h3>SketchPhrase</h3>
				<p>
					A mobile first web application that mixes elements of telephone and pictionary to create fun for all. Built with Ruby, Rails, PaperJs, JQuery.
				</p>
			</div>
			<div class="four columns">
			<h3>Adventure Share</h3>
			<p>
				A long-distance road share web application that allows users to travel together on road trips. Built with Ruby on Rails and Google Maps API.
			</p>
			</div>
		</div>			
	</div>


</div>