.body{
	background-color: #CFCFCF;
}

.row {
	margin: 75px auto;
	max-width: 100%;
}

.projects{
	border-left: 2px dotted  #C7C7C7;
	padding-left: 20px;
	height: 100%

}

li.active.sideText{

}
a .connect{
	height: 25%;
	width: 25%;
}
.description{
	margin-top: -50px;
}